# distribution archives
**/dist

# all produced graphs in png format under the directory images
**/images

# all produced data set under the directory output
**/output

# all saved trained model under the directory trained model
**/trained_models

# log
test.log

# OS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Pycharm
.idea

# Bytecode
__pycache__
*.pyc

# pytest
.pytest_cache

# Python Virtual Environment
venv_geo/*
venv_geo
