[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "geochemistrypi"
version = "0.1.0"
authors = [
  { name="Can He", email="sanyhew1097618435@163.com" },
]
maintainers = [] 
description = "A Python framework for data-driven geochemistry discovery"
readme = "README.md"
license = { file="LICENSE" }
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

dependencies = [
    "typer==0.7.0",
    "ray==2.2.0",
    "ray[tune]",
    "optuna",
    "scikit-learn==1.1.3",
    "seaborn==0.11.0",
    "multipledispatch==0.6.0",
    "statsmodels==0.13.2",
    "scipy",
    "openpyxl==3.0.10",
    "pandas==1.5.2",
    "joblib==1.2.0",
    "flaml==1.0.14",         # required to run Xgboost + FLMAL
    "numpy==1.21.6",         # required to run Xgboost + FLMAL
    "xgboost==1.3.1",        # required to run Xgboost + FLAML
    "pyogrio==0.4.2",        # required to draw world map
    "geopandas==0.10.2",     # required to draw world map
    "threadpoolctl==3.1.0",  # required to draw 3d plot for KMeans
    "matplotlib==3.5.2"      # required to draw 3d plot for KMeans
]

[project.optional-dependencies]
test = [
    "pytest"
]

[project.urls]
"Homepage" = "https://github.com/ZJUEarthData/geochemistrypi"
"Bug Tracker" = "https://github.com/ZJUEarthData/geochemistrypi/issues"

[project.scripts]
geochemistrypi = "geochemistrypi.cli:app"
