# OS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Pycharm
.idea

# Bytecode
__pycache__

# Microsoft Office
.~*.xlsx
~*.xlsx

# Python Virtual Environment
venv_geo/*
venv_geo

# visual stdio
.vs