# all produced graphs in png format under the directory images
**/images

# all produced data set under directory output
**/output

# log
test.log

# OS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Pycharm
.idea

# Bytecode
__pycache__

# pytest
.pytest_cache

# Python Virtual Environment
venv_geo/*
venv_geo
